@import '../../app.scss';

.hero{
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d,#111132);
    position: relative;

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;

        .textContainer{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            h2{
                font-size: 30px;
                color: rebeccapurple;
                letter-spacing: 10px;
            }

            h1{
                font-size: 88px;
            }

            .buttons a {
                padding: 20px;
                border: 1px solid white;
                border-radius: 10px;
                background-color: transparent;
                color: white;
                cursor: pointer;
                font-weight: 300;
            }

            .buttons a:hover {
                background-color: white;
                color: rebeccapurple;
            }

            img{
                width: 50px;
            }
        }
    }

    .imageContainer{
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-image: none;
        background-color: transparent;
        margin-right: 15px;

        img {
            border: rebeccapurple solid;
            border-radius: 50%;
        }
    }

    .slidingTextContainer{
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
    }

}
@media (max-width:1920px) {
    .hero{
        height: calc(100vh - 100px);
        overflow: hidden;
        background: linear-gradient(180deg, #0c0c1d,#111132);
        position: relative;
    
        .wrapper{
            max-width: 1366px;
            height: 100%;
            margin: auto;
    
            .textContainer{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 50px;
                gap: 20px;

                @include mobile{
                    height: 50%;
                    width: 100%;
                    padding-left: 0px;
                    gap: 20px;
                    align-items: center;
                    text-align: center;
                }
    
                h2{
                    font-size: 25px;
                    color: rebeccapurple;
                    letter-spacing: 10px;

                    @include mobile{
                        margin-left: 8px;
                    }
                }
    
                h1{
                    font-size: 78px;
                    margin-bottom: 20px;

                    @include mobile{
                        font-size: 36px;
                    }
                }
    
                .buttons {
                    @include mobile {
                        display: flex;
                        justify-content: center;
                        gap: 20px;
                    }

                    button, a{
                        padding: 20px;
                        border: 1px solid white;
                        border-radius: 10px;
                        background-color: transparent;
                        color: white;
                        margin-right: 20px;
                        cursor: pointer;
                        font-weight: 300;

                        @include mobile{
                            margin-right: 0px;
                            width: 150px;
                            height: 50px;
                            padding: 0;
                            display: flex;
                            align-items: center;
                            text-wrap: nowrap;
                            justify-content: center;
                        }
                    }
                }

                .scroll{
                    margin-top: 20px;
                }
    
                img{
                    width: 50px;
                }
            }
        }
    
        .imageContainer{
            height: 100%;
            position: absolute;
            top: 0;

            @include mobile{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                margin-right: 0px;
                padding-top: 10px;
            }

            img{
                width: 450px;

                @include mobile{
                    height: 250px;
                    width: 250px;
                    max-height: 100%;
                    object-fit: contain;
                    border-radius: 50%;;
                }
            }

            @include mobile{
                height: 50%;
                width: 100%;
                top: unset;
                bottom: 0;
            }
        }
    
        .slidingTextContainer{
            position: absolute;
            font-size: 28vh;
            bottom: -35px;
            white-space: nowrap;
            color: #ffffff09;
            width: 50%;
            font-weight: bold;
        }
    
    }
}