@import '../../app.scss';

.portfolio {
    position: relative;

    .progress {
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: orange;
        font-size: 36px;

        .progressBar {
            height: 10px;
            background-color: white;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: calc(100vh - 60px);
        overflow: hidden;
        padding: 20px;

        .wrapper {
            max-width: 1366px;
            height: 100%;
            display: flex;
            gap: 50px;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 20px;

            .imageContainer{
                flex: 1;
                width:100%;
                max-width: 800px;
                margin: 20px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    border-radius: 10px;
                }
            }
            
            .textContainer {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 30px;
                padding: 20px;
                margin-left: 100px;

                h2{
                    font-size: 36px;
                }
                p{
                    color:gray;
                    font-size: 18px;
                }
                a{
                    background-color: orange;
                    border-radius: 10px;
                    border: none;
                    padding: 10px;
                    width: 200px;
                    text-decoration: none;
                    text-align: center;
                }
                .button-gray{
                    background-color: gray;
                    cursor: default;
                }
                .button-orange{
                    background-color: orange;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width:1920px) {
    .portfolio {
        position: relative;
    
        .progress {
            position: sticky;
            top: 0;
            left: 0;
            padding-top: 50px;
            text-align: center;
            color: orange;
            font-size: 30px;

            @include mobile{
                font-size: 24px;
                display: none;
            }
    
            .progressBar {
                height: 10px;
                background-color: white;
            }
        }
    
        .container {
            padding-top: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: calc(100vh - 60px);
            overflow: hidden;

            @include mobile{
                padding-top: 10px;
                height: 100%;
            }
    
            .wrapper {
                max-width: 1366px;
                height: 100%;
                display: flex;
                gap: 0px;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                padding: 20px;

                @include mobile{
                    flex-direction: column;
                    flex-wrap: nowrap;
                    margin: auto;
                    padding: 0px;
                }
    
                .imageContainer{
                    flex: 1;
                    height: 60%;
                    margin-top: 100px;

                    @include mobile{
                        width: 100%;
                        max-height: 300px;
                        margin-top: 100px;
                        height: 50%;
                    }
    
                    img {
                        width: 120%;
                        height: 100%;
                        object-fit: contain;

                        @include mobile{
                            object-fit: contain;
                            width: 100%;
                        }
                    }
                }
                
                .textContainer {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    padding-left: 30px;
                    margin-right: 50px;

                    @include mobile{
                        transform: none !important;
                        padding: 10px;
                        padding-top: 0px;
                        margin-top: 0px;
                        align-items: center;
                        text-align: center;
                        gap: 30px;
                        margin-right: 0px;
                        padding-left: 0px;
                        margin-left: 0px;
                    }
    
                    h2{
                        font-size: 46px;

                        @include mobile{
                            font-size: 33px;
                        }
                    }
                    p{
                        color:gray;
                        font-size: 20px;

                        @include mobile{
                            font-size: 14px;
                        }
                    }
                    a{
                        background-color: orange;
                        border-radius: 10px;
                        border: none;
                        padding: 10px;
                        width: 200px;
                        text-decoration: none;
                        text-align: center;

                        @include mobile{
                            display: inline-block;
                            cursor: pointer;
                        }
                    }
                    .button-gray{
                        background-color: gray;
                        cursor: default;
                    }
                    .button-orange{
                        background-color: orange;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}